body {
  font-family: 'Montserrat', sans-serif; }

header {
  background-color: #1C1C1C;
  height: 3.5em; }
  header .top-header {
    position: relative; }
  header .header-content {
    position: absolute;
    top: 14px;
    left: 58px; }
  header a {
    text-decoration: none;
    color: #DFDBD3;
    font-size: 13px;
    font-weight: bold; }
    header a:hover {
      text-decoration: none;
      color: #DFDBD3;
      font-size: 13px;
      font-weight: bold; }
  header i {
    padding-right: 14px;
    color: #DFDBD3; }

#landing {
  position: relative; }
  #landing .item1 {
    background-image: url("../img/spices.jpg");
    background-size: cover;
    height: 90vh;
    background-position: top center; }
  #landing .item2 {
    background-image: url("../img/spices1.jpg");
    background-size: cover;
    height: 90vh;
    background-position: top center; }
  #landing .item3 {
    background-image: url("../img/spices2.jpg");
    background-size: cover;
    height: 90vh;
    background-position: top center; }
  #landing .item4 {
    background-image: url("../img/spices3.jpg");
    background-size: cover;
    height: 90vh;
    background-position: top center; }
  #landing .nav-custom {
    background-color: transparent;
    color: #fff; }
    #landing .nav-custom a {
      color: #FFF; }
      #landing .nav-custom a:hover {
        background-color: transparent; }
    #landing .nav-custom ul {
      position: relative;
      top: 31px; }
  #landing .logowhite-img {
    position: relative;
    left: 160px;
    bottom: -17px; }
  #landing .custom-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9; }

#menu-list {
  background-color: #ECECEC;
  padding-bottom: 10em;
  height: 80vh; }
  #menu-list h2 {
    text-align: center;
    color: #584D4D;
    font-family: 'Amatic SC', cursive;
    font-size: 5em; }
  #menu-list p {
    text-align: center;
    font-size: 1.5em;
    color: #ada6a6; }
  #menu-list ul {
    margin-left: 10em;
    padding-top: 2em; }
    #menu-list ul li {
      text-transform: uppercase;
      text-decoration: none;
      display: inline;
      margin-right: 4em; }
      #menu-list ul li a {
        color: #828281;
        font-size: 1.3em; }
        #menu-list ul li a:hover {
          text-decoration: none; }
  #menu-list .menu-row-custom {
    margin-top: 2em; }
  #menu-list #menu-ul-custom .mix {
    display: none; }

#gallery {
  background-color: #ECECEC;
  position: relative; }
  #gallery .video-container {
    height: 500px;
    overflow: hidden; }
  #gallery .video-youtube {
    width: 100%;
    height: 600px;
    position: relative; }
  #gallery .content {
    position: absolute;
    padding: 30px;
    color: #FFF;
    text-shadow: #000 2px 2px;
    top: 200px;
    left: 24em; }

#ambience-gallery {
  background-color: black;
  padding-top: 36px;
  padding-bottom: 10em;
  margin-top: 0px; }
  #ambience-gallery .ambience-heading {
    color: #fff;
    text-align: center;
    letter-spacing: 4px;
    font-size: 5em;
    font-family: 'Amatic SC', cursive; }
  #ambience-gallery .ambience-paragraph {
    color: #fff;
    text-align: center;
    padding-bottom: 20px; }
  #ambience-gallery .carousel-inner .item img {
    display: inline;
    width: 100%; }
  #ambience-gallery .carousel-indicators {
    top: 15em; }
    #ambience-gallery .carousel-indicators li {
      background-color: #DFDBD3; }
    #ambience-gallery .carousel-indicators .active {
      background-color: #F2400B; }

#reservation {
  background-image: url("../img/reservation.jpg");
  background-size: cover;
  height: 70vh;
  position: relative; }
  #reservation .reservation-header {
    position: absolute;
    bottom: 22em;
    left: 33em;
    color: #fff; }
    #reservation .reservation-header h1 {
      font-weight: bold;
      font-size: 5em;
      font-family: 'Amatic SC', cursive; }
  #reservation .btn-solid {
    font-weight: bold;
    color: #fff;
    border-radius: 2px;
    text-transform: uppercase;
    padding: .5em;
    margin-top: 1em;
    background-color: #F2400B;
    position: absolute;
    left: 30em;
    bottom: 12em;
    padding-right: 2em;
    padding-left: 2em; }

#restaurant-footer {
  background-color: #1F2326;
  color: #fff;
  padding-top: 8em;
  padding-bottom: 8em;
  position: relative; }
  #restaurant-footer .footer-heading {
    border-bottom: 2px solid #fff;
    color: #fff;
    padding-bottom: 5px;
    text-transform: uppercase; }
  #restaurant-footer .address-custom {
    letter-spacing: 1px;
    position: absolute;
    right: 6em;
    top: 4em; }
  #restaurant-footer .map-icon-custom {
    margin-bottom: 1em; }
  #restaurant-footer .envelope-custom {
    margin-top: 1em; }
  #restaurant-footer .phone-custom {
    margin-top: 1em; }
  #restaurant-footer .map-custom {
    height: 10em;
    width: 10em; }
  #restaurant-footer .map-custom1 {
    border-radius: 50%;
    height: 1px;
    width: 1px; }
  #restaurant-footer .ul-footer-custom {
    padding-left: 0;
    padding-top: 3em; }
    #restaurant-footer .ul-footer-custom li {
      list-style-type: none;
      margin-bottom: 1em; }
    #restaurant-footer .ul-footer-custom span {
      padding-left: 5em; }
  #restaurant-footer iframe {
    margin-top: 19px; }

/*# sourceMappingURL=app.css.map */
