#ambience-gallery {

  background-color: black;
  padding-top: 36px;
  padding-bottom: 10em;
  margin-top: 0px;


  .ambience-heading {
    
    color: #fff;
    text-align: center;
    letter-spacing: 4px;
    font-size: 5em;
    font-family: 'Amatic SC', cursive;

  }
  .ambience-paragraph {
    color:#fff;
    text-align: center;
    padding-bottom:20px;
  }

  .carousel-inner .item img {
    display: inline;
    width:100%;
  }
  
  .carousel-indicators {
    top: 15em;
    
    li 
    {
      background-color: $light-font-color;
    }
    .active {
      background-color: #F2400B;
    }
  }
}
