#landing {

  position:relative;


    .item1 {
    background-image: url("../img/spices.jpg");
    background-size: cover;
    height:90vh;
    background-position: top center;

    }

    .item2 {
    background-image: url("../img/spices1.jpg");
    background-size: cover;
    height:90vh;
    background-position: top center;

    }

    .item3 {
    background-image: url("../img/spices2.jpg");
    background-size: cover;
    height:90vh;
    background-position: top center;

    }

    .item4 {
    background-image: url("../img/spices3.jpg");
    background-size: cover;
    height:90vh;
    background-position: top center;

    }


  .nav-custom {
    background-color: transparent;
   
    color:#fff;


  a {
    color :#FFF;

    &:hover {

      background-color: transparent;
    }
  }
    ul {
      position :relative;
      top:31px;
    }
  }

  .logowhite-img {
    position: relative;
    left: 160px;
    bottom: -17px;
  }

  .custom-nav {
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index:9;
  }

}