#reservation {
  
  background-image: url('../img/reservation.jpg');
  background-size: cover;
  height:80vh;
  position:relative;

 

  .reservation-header {

    position: absolute;
    bottom: 13em;
    left: 33em;
    color: #fff;
    font-weight: bold;
  }
}